@import "public/scss/style.scss";

.header {
  position: fixed;
  width: 100vw;
  display: flex;
  border-bottom: solid 1px #dcdcdc;
  color: black;
  background-color: white;
  z-index: 5;
  font-size: 18px;
  @include view("middle") {
    font-size: 15px;
  }
  @include view("small") {
    font-size: 15px;
  }
  @include view("very_small") {
    font-size: 15px;
  }
  @include view("mobile") {
    font-size: 15px;
    height: 70px;
  }
}

.header_container {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 27px 160px;
  @include view("middle") {
    padding: 20px;
  }
  @include view("small") {
    padding: 20px;
  }
  @include view("very_small") {
    padding: 20px;
  }
  @include view("mobile") {
    padding: 0 20px;
  }
}

.header_logo {
  display: flex;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.header_right {
  display: flex;
  margin: auto;
}

.herder_buttons_wrap {
  display: flex;

  @include view("mobile") {
    display: none;
  }
}

.header_icon {
  &:hover {
    cursor: pointer;
  }

  @include view("pc") {
    display: none;
  }
  @include view("middle") {
    display: none;
  }
  @include view("small") {
    display: none;
  }
  @include view("very_small") {
    display: none;
  }
}

.header_hover {
  margin: auto 2.6vw auto 0;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
  }
}

.header_hover:hover {
  -webkit-animation: shake 0.5s;
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: none;
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: none;
  }
}

.image_wrap {
  width: 142.6px;
  height: 45.7px;
  position: relative;
  @include view("middle") {
    width: 101.8px;
    height: 32.6px;
  }
  @include view("small") {
    width: 101.8px;
    height: 32.6px;
  }
  @include view("very_small") {
    width: 101.8px;
    height: 32.6px;
  }
  @include view("mobile") {
    width: 101.8px;
    height: 32.6px;
  }
}

.sign_container {
  border: solid 1px #dcdcdc;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  white-space: nowrap;
  height: 34px;
  @include view("middle") {
    font-size: 13px;
  }
  @include view("small") {
    font-size: 13px;
  }
  @include view("very_small") {
    font-size: 13px;
  }
  @include view("mobile") {
    font-size: 13px;
  }
}

.line {
  height: 18px;
  border: none;
  background-color: #dcdcdc;
  width: 3px;
  margin: 0 -10px;
}

.orange {
  color: #ff7401;
}

.link {
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 23px;
}

.none {
  display: none;
  @include view("mobile") {
    display: block;
  }
}

.side_view {
  display: none;
  @include view("mobile") {
    display: block;
  }
}
