@import "public/scss/style.scss";

.container {
  width: 83vw;
  @include view("very_small") {
    width: 95vw;
  }
  @include view("mobile") {
    width: 100%;
  }
}

.top {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr 1fr;
  font-size: 16px;
  align-items: center;
  @include view("mobile") {
    display: none;
  }
}

.top_left {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: solid 2px #333;
  border-top: solid 1px #dcdcdc;
  border-left: solid 1px #dcdcdc;
}

.type {
  display: flex;
  height: 50px;
  padding-left: 30px;
  align-items: center;
  border-right: solid 1px #dcdcdc;
}

.origin_price {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy_price {
  background-color: #3561c7;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sell_price {
  background-color: #ff7401;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map_container {
  border: solid 1px #dcdcdc;
  font-size: 14px;
  max-height: 650px;
  overflow-y: scroll;
  @include view("mobile") {
    border: none;
    max-height: none;
  }
}

.map_wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 50px;
  align-items: center;
  border-bottom: solid 1px #dcdcdc;
  @include view("mobile") {
    display: flex;
    flex-direction: column;
    height: 103px;
    align-items: normal;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    border: solid 1px #dcdcdc;
    margin-bottom: 10px;
  }
}

.map_type {
  padding: 0 0 0 30px;
  border-right: solid 1px #dcdcdc;
  height: 100%;
  display: flex;
  align-items: center;
  word-break: keep-all;
  @include view("mobile") {
    border-right: none;
    padding: 0;
  }
}

.map_origin_price {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 1px #dcdcdc;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  @include view("mobile") {
    border-right: none;
    justify-content: flex-start;
    margin-top: 8px;
  }
}

.map_buy_price {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #3561c7;
  border-right: solid 1px #dcdcdc;
  @include view("mobile") {
    border-right: none;
    justify-content: flex-end;
    position: absolute;
    right: 20px;
    bottom: 0;
  }
}

.map_sell_price {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #ff7401;
  @include view("mobile") {
    justify-content: flex-end;
    margin-top: 7px;
  }
}

.black {
  color: #333;
}

.mobile {
  display: none;
  @include view("mobile") {
    display: flex;
    margin-right: 3px;
  }
}

.border_top {
  border-top: solid 3px black;
}

.count {
  height: 10px;
}

.none_mobile {
  @include view("mobile") {
    display: none;
  }
}
