@import "public/scss/style.scss";

.container {
  margin: auto;
  font-size: 20px;
}

.body {
  display: flex;
  margin-bottom: 50px;
  max-width: 1200px;
  @include view("mobile") {
    flex-direction: column;
    margin-bottom: 20px;
  }
  @include view("very_small") {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.left_title {
  width: 300px;
  height: 204px;
  border-radius: 10px;
  border: solid 1px #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  flex-direction: column;
  font-size: 30px;
  @include view("very_small") {
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 15px 20px;
    font-size: 18px;
    margin: 0;
  }
  @include view("mobile") {
    height: 100px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 15px 20px;
    font-size: 18px;
    margin: 0;
    width: 100%;
  }
}

.full {
  width: calc(100% - 320px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include view("very_small") {
    width: 100%;
  }
  @include view("small") {
    width: 100%;
  }
  @include view("mobile") {
    width: 100%;
  }
}

.view_text {
  border-radius: 10px;
  padding: 15px 20px;
  border: solid 1px #dcdcdc;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 18px;
  white-space: nowrap;
  background-color: #f6f6f6;

  @include view("very_small") {
    font-size: 16px;
    width: calc(100% - 90px);
  }
  @include view("mobile") {
    font-size: 16px;
    width: calc(100% - 90px);
  }
}

.btn {
  margin-left: 10px;
  width: 160px;
  border-radius: 10px;
  border: solid 1px #ff7401;
  background-color: white;
  color: #ff7401;
  cursor: pointer;
  min-width: 160px;
  @include view("very_small") {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
  }
  @include view("mobile") {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
  }
}

.img_wrap {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  @include view("very_small") {
    width: 69.7px;
    height: 69.7px;
    margin: auto 20px auto 0;
  }
  @include view("mobile") {
    width: 69.7px;
    height: 69.7px;
    margin: auto 20px auto 0;
  }
}

.title {
  @include view("very_small") {
    margin: 20px 0;
    font-size: 18px;
  }
  @include view("mobile") {
    margin: 20px 0;
    font-size: 18px;
  }
}

.country_code {
  width: 212px;
  margin-right: 10px;
}

.countrycode_wrap {
  display: flex;
}

.dropdown_wrap {
  width: 212px;
  margin-right: 10px;
  @include view("very_small") {
    width: 147px;
  }
  @include view("mobile") {
    width: 147px;
    min-width: 147px;
  }
}

.text_view_phone {
  width: calc(100% - 247px);
  height: 50px;
  display: flex;
  align-items: center;
  border: solid 1px #dcdcdc;
  border-radius: 10px;
  background-color: #f6f6f6;
  font-size: 18px;
  padding-left: 20px;

  @include view("very_small") {
    font-size: 16px;
  }
  @include view("mobile") {
    font-size: 14px;
  }
}

.view_text_title {
  border-radius: 10px;
  padding: 15px 20px;
  border: solid 1px #dcdcdc;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 18px;
  white-space: nowrap;
  background-color: #f6f6f6;

  @include view("very_small") {
    font-size: 16px;
  }
  @include view("mobile") {
    font-size: 16px;
  }
}

.full_phone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: calc(100% - 320px);
  @include view("small") {
    width: 100%;
  }
  @include view("very_small") {
    width: 100%;
  }
  @include view("mobile") {
    width: 100%;
  }
}
