@import "public/scss/style.scss";

.container {
  padding-bottom: 70px;
}

.text_len_box {
  display: flex;
  justify-content: end;
  font-size: 14px;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
  @include view("mobile") {
    font-size: 18px;
  }
}

.input {
  width: 100%;
  padding: 15px 20px;
  border-radius: 10px;
  border: solid 1px #dcdcdc;
  margin-bottom: 40px;
  font-size: 18px;
  @include view("mobile") {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.input::placeholder {
  font-size: 18px;
  @include view("mobile") {
    font-size: 16px;
  }
}

.text_area {
  width: 100%;
  padding: 15px 20px;
  min-height: 190px;
  border-radius: 10px;
  border: solid 1px #dcdcdc;
  margin-bottom: 30px;
  resize: none;
  outline: none;
  font-size: 18px;
  @include view("mobile") {
    font-size: 16px;
  }
}

.bottom {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #ff7401;
  width: 310px;
  height: 60px;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  @include view("mobile") {
    width: 100%;
    font-size: 18px;
  }
}
