@import "public/scss/style.scss";

.container {
  width: 100%;
  padding-top: 170px;
  padding-bottom: 70px;
  background-color: #f6f6f6;
  font-size: 18px;
  white-space: nowrap;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  @include view("mobile") {
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: #fff;
    font-size: 16px;
  }
}

.wrap {
  width: 700px;
  background-color: #fff;
  margin: auto;
  color: #333;
  border-radius: 10px;
  padding: 30px;
  @include view("mobile") {
    padding: 0;
    max-width: 700px;
    width: 98vw;
  }
}

.part_wrap {
  margin-bottom: 40px;
  @include view("mobile") {
    margin-bottom: 30px;
  }
}

.title {
  font-size: 30px;
  padding-bottom: 9.5px;
  border-bottom: solid 2px #333;
  margin-bottom: 48.5px;
  display: inline-block;
  @include view("mobile") {
    font-size: 26px;
    width: 205px;
    margin-bottom: 30px;
  }
}

.sub_title {
  margin-bottom: 20px;
  font-size: 20px;
  @include view("mobile") {
    font-size: 18px;
  }
}

.number-input {
  width: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-input[type="number"] {
  -moz-appearance: textfield;
}

.check {
  background-color: #ff7401;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border: 1px solid #000;
  @include view("mobile") {
    width: 30px;
    height: 30px;
  }
}

.check::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
  @include view("mobile") {
    width: 15px;
    height: 15px;
  }
}

.check:checked::before {
  opacity: 1;
}

.check:checked {
  border: none;
}

.check:not(:checked) {
  background-color: #fff;
  border: 1px solid #c7c7c7;
}

.top_btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.top_btn {
  display: flex;
  border: solid 1px #dcdcdc;
  border-radius: 10px;
  height: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.able_top_btn {
  display: flex;
  border: solid 1px #ff7401;
  border-radius: 10px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #fff5ec;
}

.align {
  display: flex;
  align-items: center;
  :first-child {
    margin-right: 15px;
  }
}

.location_wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  div {
    display: flex;
    align-items: center;
    :first-child {
      margin-right: 15px;
    }
  }
}

.text_area {
  width: 100%;
  height: 190px;
  resize: none;
  outline: none;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: solid 1px #dcdcdc;
  margin-bottom: 20px;
}

.img_wrap {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.sub_text {
  font-size: 14px;
  color: #777;
  display: flex;
  line-height: 20px;
  @include view("mobile") {
    font-size: 12px;
  }
}

.align_coin {
  display: flex;
  align-items: center;
  :first-child {
    margin-right: 20px;
  }
  margin-bottom: 20px;
}

.bot_btns {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.cancle_btn {
  width: calc(50% - 10px);
  height: 60px;
  background-color: #dcdcdc;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.create_btn {
  width: calc(50% - 10px);
  height: 60px;
  background-color: #ff7401;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.help_img {
  position: relative;
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.btn_img_wrap {
  min-width: 34px;
  min-height: 34px;
  border-radius: 100%;
  color: #919191;
  border: solid 1px #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 6px;
}

.input {
  width: 100%;
  border: none;
  outline: none;
}

.price_part_wrap {
  height: 50px;
  border: solid 1px #dcdcdc;
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 20px;
  font-size: 18px;
  border-radius: 10px;
  @include view("mobile") {
    font-size: 16px;
  }
}

.middle_inputs {
  display: flex;
  width: calc(50% - 10px);
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-radius: 10px;
  border: solid 1px #dcdcdc;
  font-size: 18px;
  white-space: nowrap;
  input {
    height: 100%;
    border: none;
    outline: none;
    padding-left: 20px;
  }
  @include view("mobile") {
    font-size: 16px;
  }
}

.space {
  display: flex;
  justify-content: space-between;
}
