@import "public/scss/style.scss";

.container {
  width: 100%;
  padding-top: 170px;
  padding-bottom: 70px;
  background-color: #f6f6f6;
  font-size: 18px;
  white-space: nowrap;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  @include view("mobile") {
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: #fff;
    font-size: 18px;
  }
  .input {
    font-size: 18px;
    @include view("mobile") {
      font-size: 16px;
    }
  }
}

.wrap {
  width: 700px;
  background-color: #fff;
  margin: auto;
  color: #333;
  border-radius: 10px;
  padding: 30px;
  @include view("mobile") {
    padding: 0 20px;
    max-width: 700px;
    width: 98vw;
  }
}

.part_wrap {
  margin-bottom: 40px;
  @include view("mobile") {
    margin-bottom: 30px;
  }
}

.title {
  font-size: 30px;
  padding-bottom: 9.5px;
  border-bottom: solid 2px #333;
  margin-bottom: 48.5px;
  display: inline-block;
  @include view("mobile") {
    font-size: 26px;
    margin-bottom: 30px;
  }
}

.sub_title {
  margin-bottom: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  @include view("mobile") {
    font-size: 18px;
  }
}

.number-input {
  width: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-input[type="number"] {
  -moz-appearance: textfield;
}

.check {
  background-color: #ff7401;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  outline: none;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border: 1px solid #000;
  @include view("mobile") {
    width: 30px;
    height: 30px;
  }
}

.check::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
  @include view("mobile") {
    width: 15px;
    height: 15px;
  }
}

.check:checked::before {
  opacity: 1;
}

.check:checked {
  border: none;
}

.check:not(:checked) {
  background-color: #fff;
  border: 1px solid #c7c7c7;
}

.coin_btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  @include view("mobile") {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }
}

.coin_btn {
  display: flex;
  border: solid 1px #dcdcdc;
  border-radius: 10px;
  height: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include view("mobile") {
    border-radius: 5px;
  }
}

.able_coin_btn {
  display: flex;
  border: solid 1px #ff7401;
  border-radius: 5px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #fff5ec;
  color: #ff7401;
  @include view("mobile") {
    border-radius: 5px;
  }
}

.align {
  display: flex;
  align-items: center;
  :first-child {
    margin-right: 15px;
  }
}

.location_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  @include view("mobile") {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
}

.location_text {
  font-size: 18px;
  margin-bottom: 10px;
  @include view("mobile") {
    font-size: 16px;
  }
}

.text_area {
  width: 100%;
  height: 190px;
  resize: none;
  outline: none;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: solid 1px #dcdcdc;
  margin-bottom: 20px;
}

.img_wrap {
  position: relative;
  width: 26px;
  height: 26px;
  margin-right: 5px;
  @include view("mobile") {
    width: 28px;
    height: 28px;
  }
}

.sub_text {
  font-size: 14px;
  color: #777;
  display: flex;
  line-height: 20px;
  @include view("mobile") {
    font-size: 12px;
  }
}

.kind_btns {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  height: 50px;
  column-gap: 20px;
}

.able_kind_btn {
  border: solid 1px #ff7401;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #ff7401;
  font-size: 18px;
  background-color: #fff5ec;
  @include view("mobile") {
    border-radius: 5px;
  }
}

.default_kind_btn {
  border: solid 1px #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #333;
  font-size: 18px;
  @include view("mobile") {
    border-radius: 5px;
  }
}

.bot_btns {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.cancle_btn {
  width: calc(50% - 10px);
  height: 60px;
  background-color: #989898;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  @include view("mobile") {
    font-size: 18px;
  }
}

.create_btn {
  width: calc(50% - 10px);
  height: 60px;
  background-color: #ff7401;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  @include view("mobile") {
    font-size: 18px;
  }
}

.help_img {
  position: relative;
  width: 34px;
  min-width: 34px;
  height: 34px;
  margin-right: 10px;
}

.btn_img_wrap {
  min-width: 34px;
  min-height: 34px;
  border-radius: 100%;
  color: #919191;
  border: solid 1px #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 6px;
}

.input {
  width: 100%;
  border: none;
  outline: none;
}

.price_part_wrap {
  height: 50px;
  border: solid 1px #dcdcdc;
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 20px;
  font-size: 18px;
  border-radius: 10px;
  @include view("mobile") {
    font-size: 16px;
  }
}

.middle_inputs {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  input {
    height: 50px;
    border-radius: 12px;
    border: solid 1px #dcdcdc;
    padding: 15px 20px;
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
  }
}

.space {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  @include view("mobile") {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}

.middle_wrap {
  width: 100%;
  @include view("mobile") {
    input {
      font-size: 16px;
    }
  }
}

.price_content {
  position: absolute;
  right: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.essential {
  color: #ff7401;
  margin: auto 0;
}

.essential_comment {
  font-size: 14px;
  color: #ff7401;
  text-align: center;
  margin-left: 10px;
  @include view("mobile") {
    font-size: 12px;
  }
}

.margin_content {
  margin-right: 14px;
}

.wallet_wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  @include view("mobile") {
    flex-direction: column;
  }
}

.drop_down_wrap {
  min-width: 212px;
  height: 100%;
  margin-top: 10px;
  margin-right: 20px;
  @include view("mobile") {
    min-width: 100%;
    margin: auto;
  }
}

.save_wallet_wrap {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-size: 16px;
  div {
    margin-left: 10px;
  }
  @include view("mobile") {
    font-size: 14px;
  }
}

.wallet_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wallet_content {
  font-size: 16px;
  color: #3561c7;
  border-bottom: solid 1px #3561c7;
  cursor: pointer;
  @include view("mobile") {
    font-size: 14px;
  }
}
