@import "public/scss/style.scss";

.container {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 170px;
  padding-bottom: 70px;
  color: #333;
  @include view("mobile") {
    background-color: #fff;
    padding-top: 100px;
  }
}

.wrap {
  width: 700px;
  background-color: #fff;
  border-radius: 10px;
  padding: 35px 30px;
  @include view("mobile") {
    width: 100%;
    padding: 0 10px;
  }
}

.title {
  font-size: 20px;
  margin: 50px 0 20px;
  @include view("mobile") {
    margin: 20px 0;
    font-size: 18px;
  }
}

.btns_wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.able_btn {
  border: solid 1px #ff7401;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default_btn {
  border: solid 1px #dcdcdc;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #777;
}
