@import "public/scss/style.scss";

.container {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  padding: 170px 20px 70px 20px;
  @include view("mobile") {
    background-color: #fff;
    padding-top: 100px;
  }
}

.wrap {
  width: 700px;
  background-color: #fff;
  border-radius: 10px;
  padding: 35px 30px;
  @include view("mobile") {
    width: 100%;
    padding: 0 10px;
  }
}

.title {
  font-size: 20px;
  margin: 50px 0 20px;
  @include view("mobile") {
    margin: 20px 0;
    font-size: 18px;
  }
}

.btns_wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  font-size: 20px;
  @include view("mobile") {
    font-size: 16px;
  }
}

.able_btn {
  height: 50px;
  border-radius: 10px;
  background-color: #fff5ec;
  border: solid 1px #ff7401;
  color: #ff7401;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default_btn {
  height: 50px;
  border-radius: 10px;
  border: solid 1px #dcdcdc;
  background-color: #fff;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
