@import "public/scss/style.scss";

.wrap {
  width: 100%;
  flex: 1;

  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  column-gap: 10px;
  background-color: #fff;
  @include view("mobile") {
    display: none;
  }

  & > .auth_item {
    width: 100%;
    max-width: 211px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid 1px #dcdcdc;
    border-radius: 10px;
    display: flex;

    padding: 30px 20px;
    @include view("very_small") {
      padding: 15px 10px;
    }
    & > .auth_icon_wrap {
      width: 50px;
      height: 50px;
      border: 1px solid #dcdcdc;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include view("very_small") {
        width: 40px;
        height: 40px;
      }
      & > .auth_icon {
        width: 31px;
        line-height: 0;
        @include view("very_small") {
          width: 20px;
        }
      }
    }
    & > .level_txt {
      margin-top: 10px;
      font-size: 16px;
      @include view("small") {
        font-size: 14px;
      }
      @include view("very_small") {
        font-size: 12px;
      }
    }
    & > .status_box {
      margin-top: 10px;
      width: 100%;
      background-color: #afafaf;
      margin-top: 10px;
      color: #fff;
      font-size: 14px;
      padding: 7px 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 14.5px;
      @include view("small") {
        font-size: 12px;
      }
      @include view("very_small") {
        font-size: 10px;
        padding: 5px;
      }
      &.complete {
        background-color: #11a472;
      }
      & > .check_img {
        width: 18px;
        margin-left: 5px;
        display: flex;
        @include view("small") {
          width: 14px;
        }
        @include view("very_small") {
          width: 12px;
        }
      }
    }
  }
}

.able_check {
  background-image: url("/img/mypage/check_on.png");
  background-size: 100% 100%;
  width: 28px;
  height: 28px;
  margin-right: 10px;
  margin-bottom: 7px;
  @include view("very_small") {
    width: 20px;
    height: 20px;
  }
}

.img_wrap {
  position: relative;
  width: 68px;
  height: 68px;
  margin-right: 20px;
  @include view("mobile") {
    width: 26.3px;
    height: 26px;
    min-width: 26.3px;
  }
}

.content {
  font-size: 0.84vw;
  color: #777;
  @include view("middle") {
    font-size: 14px;
  }
  @include view("small") {
    font-size: 14px;
  }
  @include view("very_small") {
    font-size: 14px;
  }
  @include view("mobile") {
    font-size: 14px;
  }
}

.title_container {
  display: flex;
  margin-top: 10px;
  @include view("mobile") {
    margin: 0;
  }
}

.title_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
