@import "public/scss/style.scss";

.container {
  width: 300px;
  max-width: 300px;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  margin-right: 10px;
  font-size: 14px;
}

.btn_wrap {
  // width: 150px;
  height: 50px;
  border-radius: 10px;
  border: solid 1px #dcdcdc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.text {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.menu {
  position: absolute;
  padding: 15px 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  z-index: 2;
  margin-top: -7px;
  border: solid 1px #dcdcdc;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 450px;
}

.menu_body {
  width: 100%;
  margin-top: 5px;
}

.img_wrap {
  position: relative;
  width: 16.7px;
  height: 9.9px;
}

.arrow_rotate {
  rotate: 180deg;
  position: relative;
  width: 16.7px;
  height: 9.9px;
}
