@import "public/scss/style.scss";

.map_wrap {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
  height: 113px;
  position: relative;
  @include view("mobile") {
    height: 164px;
  }
}

.complete_wrap {
  background-color: rgb(190, 182, 182);
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
  border: solid 1px #dcdcdc;
}

.map_container {
  margin-bottom: 18px;
  position: relative;
}

.top {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0 20px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  height: 44px;
  background-color: #dcdcdc;
  align-items: center;
  border-radius: 5px;
  div {
    display: flex;
  }
  @include view("mobile") {
    display: none;
  }
}

.home_top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 20px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  height: 44px;
  background-color: #dcdcdc;
  align-items: center;
  border-radius: 5px;

  @include view("mobile") {
    display: none;
  }
}

.body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  gap: 80px;

  @include view("very_small") {
    gap: 0px;
  }
  @include view("mobile") {
    gap: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: -9px;
  }
}

.home_body {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  height: 100%;

  @include view("mobile") {
    display: flex;
    justify-content: space-between;
    margin-bottom: -9px;
  }
}

.mypage_id {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.default_id {
  text-decoration: underline;
  text-underline-offset: 2px;
  margin-bottom: 10px;
  cursor: pointer;
}

.seller {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.price {
  display: flex;
  justify-content: flex-end;
}

.thumbs {
  font-size: 12px;
  height: 13.5px;
  margin-bottom: 15px;
  color: #777;
  display: flex;
}

.log {
  font-size: 12px;
  color: #777;
  display: flex;
  margin: auto auto 0 0;
}

.gray {
  font-size: 14px;
  color: #777;
  @include view("mobile") {
    margin-left: 3px;
  }
}

.gray_right {
  font-size: 16px;
  color: #777;
  display: flex;
  margin-top: 5.5px;
  margin-left: 5px;
  @include view("mobile") {
    margin: 0 0 0 3px;
  }
}

.right_price {
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;

  @include view("mobile") {
    display: none;
  }
}

.reservation_btn {
  width: 90px;
  height: 36px;
  color: #fff;
  background-color: #11a472;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  font-size: 16px;
  font-size: 16px;
  @include view("small") {
    width: 70px;
    height: 30px;
  }
  @include view("very_small") {
    width: 70px;
    height: 30px;
  }
}

.chat_orange {
  outline: none;
  border: none;
  background-color: #ff7401;
  width: 150px;
  height: 36px;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;

  @include view("small") {
    width: 90px;
    height: 36px;
  }
  @include view("very_small") {
    width: 90px;
    height: 36px;
  }
  @include view("mobile") {
    width: 90px;
    height: 36px;
  }
}

.chat_orange:disabled {
  cursor: default;
  background-color: #afafaf;
}

.chat_blue {
  outline: none;
  border: none;
  background-color: #3561c7;
  width: 150px;
  height: 36px;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  @include view("small") {
    width: 70px;
    height: 30px;
  }
  @include view("very_small") {
    width: 70px;
    height: 30px;
  }
}

.chat_blue:disabled {
  background-color: #afafaf;
  cursor: default;
}

.time {
  margin-left: 25px;
}

.with_district {
  display: flex;
  white-space: nowrap;
  column-gap: 5px;
  margin-left: -10px;
  @include view("mobile") {
    position: absolute;
    right: 0;
  }
}

.none_district {
  display: flex;
  white-space: nowrap;
  margin-left: 10px;
  @include view("mobile") {
    position: absolute;
    right: 0;
  }
}

.only_pc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  @include view("mobile") {
    position: static;
  }
}

.only_mobile {
  display: none;
  @include view("mobile") {
    position: absolute;
    top: 38px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.mobile_body {
  display: none;
  @include view("mobile") {
    align-items: flex-end;
    display: flex;
  }
}

.mobile_price {
  display: flex;
  align-items: flex-end;
  @include view("mobile") {
    font-size: 18px;
  }
}

.btns_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.mobile {
  display: none;
  @include view("mobile") {
    display: flex;
  }
}

.my_offer_wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 14px;
  color: #333;
  height: 47px;
  background-color: #fff;
  border: solid 1px #dcdcdc;
  margin-top: -5px;
  @include view("mobile") {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.disable {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 14px;
  color: #333;
  height: 47px;
  background-color: rgb(190, 182, 182);
  border: solid 1px #dcdcdc;
  margin-top: -5px;
  @include view("mobile") {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.edit_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-right: solid 1px #dcdcdc;
  background-color: transparent;
  cursor: pointer;
}

.edit_btn:disabled {
  color: gray;
  cursor: default;
}

.grin {
  color: #11a472;
}

.red {
  color: #ff6d6d;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.blue {
  color: #3561c7;
}

.border {
  display: flex;
  border-right: solid 1px #dcdcdc;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.circle_wrap {
  display: flex;
  justify-content: center;
  border-right: solid 1px #dcdcdc;
  cursor: pointer;
  position: relative;
}

.chat {
  margin: auto 0;
}

.circle {
  width: 7px;
  height: 7px;
  background-color: #ff7401;
  border-radius: 100%;
  margin-top: 8px;
  margin-left: 4px;
  position: absolute;
}

.pointer {
  cursor: pointer;
}

.thumb_wrap {
  width: 13.5px;
  height: 12.9px;
  position: relative;
  margin-right: 5px;
}

.mobile {
  display: none;
  @include view("mobile") {
    display: block;
  }
}

.none_data_wrap {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #c7c7c7;
  @include view("mobile") {
    font-size: 16px;
  }
}

.none_data_img {
  position: relative;
  width: 63.6px;
  height: 63.6px;
  margin-bottom: 20px;
}

.right_btns {
  display: flex;
  margin: auto 0 0 auto;
}

.mobile_top {
  display: flex;
  width: 100%;
}

.my_mobile {
  display: none;
  @include view("mobile") {
    display: block;
  }
}

.my_mobile_top_body {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.my_mobile_top {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.more_container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  top: 0;
  align-items: center;
  flex-direction: column;
  background-color: #33333387;
  z-index: 2;
  border-radius: 5px;
}

.more_wrap {
  width: 80%;
  height: 100px;
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.more_btns {
  display: flex;
}

.more {
  padding: 5px;
  border: solid 1px #dcdcdc;
  cursor: pointer;
}

.cancle {
  padding: 5px;
  border: solid 1px #dcdcdc;
  cursor: pointer;
  margin-left: 10px;
}

.answer {
  margin-bottom: 10px;
}

.blue {
  color: #3561c7;
}

.red {
  color: #ff6d6d;
}

.toggle_wrap {
  width: 130px;
  height: 30px;
  background-color: #dcdcdc;
  border-radius: 12px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #777;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  @include view("mobile") {
    font-size: 10px;
    width: 80px;
    height: 25px;
  }
}

.toggle_open {
  border-radius: 12px 0 0 12px;
  border: solid 2px #3561c7;
  background-color: #3561c738;
  color: #3561c7;
}

.toggle_reservation {
  border-radius: 0 12px 12px 0;
  border: solid 2px #3561c7;
  background-color: #3561c738;
  color: #3561c7;
}

.location {
  text-align: left;
}

.min_and_max {
  display: flex;
  justify-content: flex-end;
}

.img_container {
  display: flex;
  align-items: center;
  column-gap: 10px;
  @include view("mobile") {
    position: absolute;
    bottom: 28px;
    column-gap: 4px;
  }
}

.coin_img {
  position: relative;
  width: 28px;
  height: 28px;
  @include view("mobile") {
    width: 20px;
    height: 20px;
  }
}

.trust_img {
  position: relative;
  width: 28px;
  height: 28px;
  margin-left: 10px;
  @include view("mobile") {
    width: 20px;
    height: 20px;
    margin-left: 6px;
  }
}

.min_and_max_content {
  position: absolute;
  display: flex;
  font-size: 12px;
  color: #777;
  white-space: nowrap;
  bottom: 0;
  @include view("mobile") {
    left: 0;
  }
}

.stick {
  width: 1px;
  height: 13px;
  background-color: #989898;
  margin: 0 10px;
}

.min_and_max_bottom {
  display: flex;
  position: absolute;
  white-space: nowrap;
  @include view("mobile") {
    display: none;
  }
}

.none_mobile {
  display: flex;
  @include view("mobile") {
    display: none;
  }
}

.not_home_coin {
  display: flex;
  align-items: center;
  margin-top: -17px;
  :first-child {
    margin-right: 10px;
  }
}

.not_home_min_and_max_bottom {
}

.flex {
  display: flex;
  justify-content: center;
  margin-left: -35px;
}
