@import "public/scss/style.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 170px 0;
  padding-bottom: 70px;
  background-color: #f6f6f6;
  font-size: 20px;
  @include view("very_small") {
    font-size: 18px;
  }
  @include view("mobile") {
    font-size: 16px;
    padding: 0;
    height: 926px;
  }
}

.wrap {
  width: 30vw;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  width: 700px;
  border-radius: 10px;

  @include view("mobile") {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    padding: 0 20px;
    padding-top: 100px;
  }
}

.title {
  border-bottom: solid 2px black;
  width: 179px;
  font-size: 30px;
  padding-bottom: 9.5px;
  margin-bottom: 48.5px;
  @include view("very_small") {
    font-size: 26px;
  }
  @include view("mobile") {
    font-size: 24px;
    padding-bottom: 9px;
    width: 153px;
    margin-bottom: 29px;
  }
}

.input {
  border-radius: 10px;
  border: solid 1px #dcdcdc;
  padding: 15px 20px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  margin: 20px 0;
  @include view("very_small") {
    font-size: 16px;
  }
  @include view("mobile") {
    font-size: 14px;
  }
}

.btn {
  border-radius: 10px;
  height: 60px;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  background-color: #ff7401;
  @include view("very_small") {
    font-size: 18px;
  }
  @include view("mobile") {
    font-size: 16px;
  }
}
