@import "public/scss/style.scss";

.wrap {
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  @include view("mobile") {
    height: 37vw;
  }
}

.bg_wrap {
  width: 100%;
  height: 200px;
  position: absolute;
  @include view("mobile") {
    display: none;
  }
}

.img_wrap {
  width: 858px;
  height: 200px;
  position: absolute;
  margin-left: -100px;
  @include view("small") {
    height: 180px;
    width: 750px;
    margin: 0;
  }

  @include view("very_small") {
    height: 180px;
    width: 750px;
    margin: 0;
  }
  @include view("mobile") {
    width: 100%;
    height: 37vw;
    margin: 0;
  }
}
