@import "public/scss/style.scss";

.container {
  position: relative;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: -12px;
}

.img_wrap {
  position: relative;
  width: 100%;
  img {
    width: 100%;
    object-fit: contain;
    height: 600px;
  }
}

.dots {
  position: absolute;
  height: 100%;
  bottom: 15px;
  height: 20px;
  display: flex;
  left: 50%;
  column-gap: 10px;
}

.able_dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default_dot {
  width: 15px;
  height: 15px;
  opacity: 0.3;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.prev {
  width: 30px;
  height: 30px;
  color: #333;
  font-size: 30px;
  position: absolute;
  left: 30px;
  top: 50%;
  cursor: pointer;
}

.next {
  width: 10px;
  height: 10px;
  color: #333;
  position: absolute;
  font-size: 30px;
  right: 30px;
  cursor: pointer;
  top: 50%;
}
