@import "public/scss/style.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: #fff;
}

.img_wrap {
  background-color: red;
  img {
    height: 100%;
    width: 100%;
  }
}

.dots {
  position: absolute;
  height: 100%;
  ul {
    margin: 0;
    padding: 0;
  }
}
