.auto-height-image {
  // width: 100%;
  position: relative;
  overflow: hidden;

  & > span {
    position: unset !important;
    height: 100% !important;

    & > img {
      position: relative !important;
      height: auto !important;
    }
  }
}
